    AddDefaultCharset utf-8
    # Включаем перенаправления на сайте
    RewriteEngine on

    # Следущие два: Все существующие папки не будуут обрабатываться регулярным выражением
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    # Т.е реврайт обработает все запросы, но при условии что у нас не существуют такие же папки

     # При любом запросе откроется index.php и в конце добавится строка запроса в $1
    RewriteRule ^(.*)$ index.php/$1 [L]


